* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}

.v8_229 {
  width: 594px;
  height: 209px;
  background: rgba(234,234,234,1);
  opacity: 1;
 position: relative; /* Utilizza il posizionamento relativo */
	margin: 0 auto;
	margin-top: 100px;
	margin-bottom: 100px;
	top: 50%;
}
.v8_230 {
width: 290px;
  color: rgba(0,0,0,1);
  position: absolute;
  font-weight: Regular;
  opacity: 1;
  text-align: center;
  margin-left:25%;
}
.v8_231 {
  width: 194px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 20px;
  left: 200px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}


a{
	color: #000000;
	    text-decoration: none;

}
a:hover{
	color: #5d5d5d;
	    text-decoration: none;

}