* {
	box-sizing: border-box;
}

body {
	font-size: 14px;
	font-family: Arial, sans-serif;
}

.v8_125 {
	width: 412px;
	background: rgba(234, 234, 234, 1);
	opacity: 1;
	overflow: hidden;
	position: relative; /* Utilizza il posizionamento relativo */
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 20px;
	top: 50%;
	/* Sposta il div verso il basso del 50% rispetto al suo contenitore */
}

.user-info {
	padding: 20px;
	border-radius: 5px;
	margin: 20px;
}

.user-info h2 {
	margin-top: 0;
	text-align: center;
}

.user-info p {
	margin-bottom: 10px;
}

.user-info strong {
	font-weight: bold;
}

.input-container {
	display: flex;
	flex-direction: column;
	margin-bottom: 10px;
}

input[type="text"], input[type="password"] {
	width: 100%;
	padding: 10px;
	border: 1px solid #cccccc;
}

fieldset {
	border: 1px solid #74aeda;
	/* Imposta il bordo a 1 pixel di spessore e il colore del bordo a #26838b */
	border-radius: 5px; /*Imposta un bordo arrotondato */
}

form {
	margin: 20px;
}

button {
	width: 50%;
	padding: 8px;
	margin-left: 25%;
	font-size: 16px;
	background-color: rgba(161, 201, 230, 1);
	color: #ffffff;
	border: none;
	cursor: pointer;
}