* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}


.v34_91 {
  width: 839px;
  height: 77px;
  background: rgba(234,234,234,1);
  opacity: 1;
   position: relative; /* Utilizza il posizionamento relativo */
  margin: 0 auto;
  margin-top:20px;
  margin-bottom:20px;
  top: 50%; /* Sposta il div verso il basso del 50% rispetto al suo contenitore */
      align-items: center;
    justify-content: center;
    display: flex;
}
.titolo{

  font-weight: Semi Bold;
  font-size: 36px;
	
}
.v34_93 {
  width: 839px;
  height: 204px;
  background: rgba(234,234,234,1);
  opacity: 1;
   position: relative; /* Utilizza il posizionamento relativo */
  margin: 0 auto;
  margin-top:20px;
  margin-bottom:20px;
  top: 50%; /* Sposta il div verso il basso del 50% rispetto al suo contenitore */
}
.v34_94 {
  width: 97px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 38px;
  left: 76px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v34_95 {
  width: 127px;
  height: 42px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 81px;
  left: 76px;
  overflow: hidden;
}
.v34_96 {
  width: 107px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 38px;
  left: 292px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v34_97 {
  width: 127px;
  height: 42px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 81px;
  left: 292px;
  overflow: hidden;
}
.v34_98 {
  width: 170px;
  height: 53px;
  background: rgba(161,201,230,1);
  opacity: 1;
  position: absolute;
  top: 75px;
  left: 586px;
  overflow: hidden;
}
.v34_99 {
  width: 62px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 12px;
  left: 54px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
