.v8_43 {
  width: 481px;
  
  background: rgba(234,234,234,1);
  opacity: 1;
 
  overflow: hidden;

  position: relative; /* Utilizza il posizionamento relativo */
  margin: 0 auto;
  margin-top:20px;
  margin-bottom:20px;
  top: 50%; /* Sposta il div verso il basso del 50% rispetto al suo contenitore */

}

containerLabel{
	display: flex; 
	flex-direction: row;
	padding:25px;
}

.containerLabel div{
	margin-right:20px;
}
.containerLabel label{
  width: 97px;
  color: rgba(0,0,0,1);
  
  
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.containerLabel input[type="text"], select {
	height: 35px;
	width:180px;
}
button {
 width: 100%;
  padding: 10px 20px;
  margin-left: 0%;
  font-size: 16px;
   background-color:rgba(161,201,230,1);
  color: #ffffff;
   border-radius: 3px;
   border:none;
  cursor: pointer;
}


.form-group {
   margin-bottom: 20px;
   text-align: left;
}
.carta-section {
   color: black;
   padding:20px;
   margin: 0px auto;
   width: 300px;
   border-radius: 5px;
}
input {
   width: 100%;
   padding: 10px;
   border: 1px solid #ccc;
   border-radius: 3px;
}



h2 {
    text-align: center;
}