* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}


.v65_12 {
  width: 953px;
  height: 77px;
  background: rgba(234,234,234,1);
  opacity: 1;
   position: relative; /* Utilizza il posizionamento relativo */
  margin: 0 auto;
  margin-top:20px;
  margin-bottom:20px;
  top: 50%; /* Sposta il div verso il basso del 50% rispetto al suo contenitore */
      align-items: center;
    justify-content: center;
    display: flex;
}
.titolo{

  font-weight: Semi Bold;
  font-size: 36px;
	
}
.v65_14 {
  width: 953px;
  height: 245px;
  background: rgba(234,234,234,1);
  opacity: 1;
    position: relative; /* Utilizza il posizionamento relativo */
  margin: 0 auto;
  margin-top:20px;
  margin-bottom:20px;
  top: 50%; /* Sposta il div verso il basso del 50% rispetto al suo contenitore */
}
.v65_15 {
  width: 97px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 38px;
  left: 76px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v65_16 {
  width: 127px;
  height: 42px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 87px;
  left: 75px;
}
.v65_17 {
  width: 109px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 38px;
  left: 359px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v65_18 {
  width: 126px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 38px;
  left: 673px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v65_19 {
  width: 240px;
  height: 42px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 87px;
  left: 301px;
  overflow: hidden;
}
.v65_20 {
  width: 170px;
  height: 53px;
  background: rgba(161,201,230,1);
  opacity: 1;
  position: absolute;
  top: 175px;
  left: 391px;
  overflow: hidden;
}
.v65_21 {
  width: 62px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 12px;
  left: 54px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v65_22 {
  width: 225px;
  height: 42px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 81px;
  left: 640px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
