* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v65_3 {
  width: 100%;
  height: 1024px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v65_4 {
  width: 100%;
  height: 222px;
/*  background: url("../images/v65_4.png");*/
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v65_5 {
  width: 100%;
  height: 222px;
  background: rgba(21,120,193,0.4000000059604645);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v65_6 {
  width: 80px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 176px;
  left: 1322px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v65_7 {
  width: 133px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 176px;
  left: 1164px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v65_8 {
  width: 197px;
  height: 205px;
  background: url("../images/logo.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 69px;
  overflow: hidden;
}
.v65_9 {
  width: 159px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 176px;
  left: 980px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v65_10 {
  width: 100%;
  height: 230px;
  background: rgba(161,201,230,1);
  opacity: 1;
  position: absolute;
  top: 794px;
  left: 0px;
  overflow: hidden;
}
.v65_11 {
  width: 365px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 38px;
  left: 538px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v65_12 {
  width: 953px;
  height: 77px;
  background: rgba(234,234,234,1);
  opacity: 1;
  position: absolute;
  top: 289px;
  left: 244px;
  overflow: hidden;
}
.v65_13 {
  width: 377px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 17px;
  left: 288px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v65_14 {
  width: 953px;
  height: 245px;
  background: rgba(234,234,234,1);
  opacity: 1;
  position: absolute;
  top: 433px;
  left: 244px;
  overflow: hidden;
}
.v65_15 {
  width: 97px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 38px;
  left: 76px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v65_16 {
  width: 127px;
  height: 42px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 87px;
  left: 75px;
}
.v65_17 {
  width: 109px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 38px;
  left: 359px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v65_18 {
  width: 126px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 38px;
  left: 673px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v65_19 {
  width: 240px;
  height: 42px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 87px;
  left: 301px;
  overflow: hidden;
}
.v65_20 {
  width: 170px;
  height: 53px;
  background: rgba(161,201,230,1);
  opacity: 1;
  position: absolute;
  top: 175px;
  left: 391px;
  overflow: hidden;
}
.v65_21 {
  width: 62px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 12px;
  left: 54px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v65_22 {
  width: 225px;
  height: 42px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 81px;
  left: 640px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
