* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}

.v8_249 {
  width: 839px;
  height: 533px;
  background: rgba(234,234,234,1);
  opacity: 1;
   position: relative; /* Utilizza il posizionamento relativo */
  margin: 0 auto;
  margin-top:20px;
  margin-bottom:20px;
  top: 50%; /* Sposta il div verso il basso del 50% rispetto al suo contenitore */
}
.v8_250 {
  width: 97px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 20px;
  left: 48px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v8_251 {
  width: 393px;
  height: 45px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 65px;
  left: 48px;
}
.v8_252 {
  width: 107px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 126px;
  left: 48px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v8_253 {
  width: 393px;
  height: 45px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 172px;
  left: 48px;
  overflow: hidden;
}
.v8_254 {
  width: 825px;
  height: 165px;
  background: url("../images/v8_254.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 197px;
  left: 34px;
  overflow: hidden;
}
.v8_255 {
  width: 54px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 45px;
  left: 82px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v8_256 {
  width: 54px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 41px;
  left: 462px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v8_257 {
  width: 299px;
  height: 64px;
  background: url("../images/v8_257.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 79px;
  left: 82px;
  overflow: hidden;
}
.v8_258 {
  width: 272px;
  height: 50px;
  background: url("../images/v8_258.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 27px;
  overflow: hidden;
}
.v8_259 {
  width: 303px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 8px;
  left: 31px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v8_260 {
  width: 272px;
  height: 50px;
  background: url("../images/v8_260.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 86px;
  left: 516px;
  overflow: hidden;
}
.v8_261 {
  width: 303px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 8px;
  left: 31px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v8_262 {
  width: 126px;
  height: 66px;
  background: rgba(161,201,230,1);
  opacity: 1;
  position: absolute;
  top: 68px;
  left: 1000px;
  overflow: hidden;
}
.v8_263 {
  width: 126px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v26_2 {
  width: 111px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 362px;
  left: 48px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v26_3 {
  width: 393px;
  height: 45px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 391px;
  left: 48px;
}
.v26_4 {
  width: 139px;
  height: 40px;
  background: rgba(161,201,230,1);
  opacity: 1;
  position: absolute;
  top: 465px;
  left: 359px;
  overflow: hidden;
}
.v26_5 {
  width: 94px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 5px;
  left: 22px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v32_3 {
  width: 839px;
  height: 77px;
  background: rgba(234,234,234,1);
  opacity: 1;
    position: relative; /* Utilizza il posizionamento relativo */
  margin: 0 auto;
  margin-top:20px;
  margin-bottom:20px;
  top: 50%; /* Sposta il div verso il basso del 50% rispetto al suo contenitore */
      align-items: center;
    justify-content: center;
    display: flex;
}
.titolo{

  font-weight: Semi Bold;
  font-size: 36px;
	
}
.containerLabel{
	display: flex; 
	flex-direction: column;
	padding:25px;
}

.containerLabel div{
	margin-bottom:30px;
	margin-right:20px;
}
.containerLabel label{
  width: 97px;
  color: rgba(0,0,0,1);
  
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.containerLabel input[type="text"],input[type="number"], select {
	height: 35px;
	width:180px;
}
button {
 width: 50%;
  padding: 8px;
  margin-left: 25%;
  font-size: 16px;
   background-color:rgba(161,201,230,1);
  color: #ffffff;
  border: none;
  cursor: pointer;
}

.containerData{
	display:flex;
}
.containerData div{
	margin-bottom:0px;
}
