
* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
  
}

.image{
	background-image: url('../images/cielo2.png');
  background-size: cover;
  position: relative;
  
}

.v35_177 {
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	opacity: 1;
	position: relative; /* Utilizza il posizionamento relativo */
	padding-bottom: 100px;
	top: 50%; /* Sposta il div verso il basso del 50% rispetto al suo contenitore */
	display: flex;
    justify-content: center;
    
    
}



.containerLabel{
	display: flex; 
	flex-direction: row;
	padding:25px;
}

.containerLabel div{
	margin-right:20px;
}
.containerLabel label{
  width: 97px;
  color: rgba(0,0,0,1);
  
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.containerLabel input[type="text"]{
	height: 35px;
	width:180px;
}

.containerLabel select {
	height: 35px;
	width:100px;
	/* font-size: 0px; */
}



button {
 width: 50%;
  padding: 8px;
  margin-left: 25%;
  font-size: 16px;
   background-color:rgba(161,201,230,1);
  color: #ffffff;
  border: none;
  cursor: pointer;
  margin-bottom:20px;
}

