* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}

.v35_165 {
  width: 100%;
  height: 230px;
  background: rgba(161,201,230,1);
  opacity: 1;
  position: absolute;
  top: 794px;
  left: 0px;
  overflow: hidden;
}
.v35_167 {
  width: 953px;
  height: 77px;
  background: rgba(234,234,234,1);
  opacity: 1;
  position: absolute;
  top: 289px;
  left: 244px;
  overflow: hidden;
}
.v35_168 {
  width: 467px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 17px;
  left: 243px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v35_171 {
  width: 953px;
  height: 202px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 457px;
  left: 244px;
  overflow: hidden;
}
.v35_177 {
  width: 552px;
  height: 44px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 390px;
  left: 444px;
  overflow: hidden;
}
.v35_174 {
  width: 552px;
  height: 44px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(0,0,0,1);
  overflow: hidden;
}
.v35_175 {
  width: 170px;
  height: 44px;
  background: rgba(161,201,230,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 382px;
  overflow: hidden;
}
.v35_176 {
  width: 67px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 7px;
  left: 51px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
