* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v34_143 {
  width: 100%;
  height: 1024px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v34_144 {
  width: 100%;
  height: 230px;
  background: rgba(161,201,230,1);
  opacity: 1;
  position: absolute;
  top: 794px;
  left: 0px;
  overflow: hidden;
}
.v34_145 {
  width: 365px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 38px;
  left: 538px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}

.v34_152 {
  width: 953px;
  height: 77px;
  background: rgba(234,234,234,1);
  opacity: 1;
  position: absolute;
  top: 289px;
  left: 244px;
  overflow: hidden;
}
.v34_153 {
  width: 323px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 17px;
  left: 315px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v35_157 {
  width: 953px;
  height: 278px;
  background: url("../images/v35_157.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 397px;
  left: 244px;
  overflow: hidden;
}
