* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}

.v34_152 {
  width: 953px;
  height: 77px;
  background: rgba(234,234,234,1);
  opacity: 1;
   position: relative; /* Utilizza il posizionamento relativo */
  margin: 0 auto;
  margin-top:20px;
  margin-bottom:20px;
  top: 50%; /* Sposta il div verso il basso del 50% rispetto al suo contenitore */
      align-items: center;
    justify-content: center;
    display: flex;
}
.titolo{

  font-weight: Semi Bold;
  font-size: 36px;
	
}

.v34_153 {
  width: 323px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 17px;
  left: 315px;
  font-family: Inter;
  font-weight: Semi Bold;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}

