* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v35_167 {
  width: 953px;
  height: 77px;
  background: rgba(234,234,234,1);
  opacity: 1;
   position: relative; /* Utilizza il posizionamento relativo */
  margin: 0 auto;
  margin-top:20px;
  margin-bottom:20px;
  top: 50%; /* Sposta il div verso il basso del 50% rispetto al suo contenitore */
     align-items: center;
    justify-content: center;
    display: flex;
}
.titolo{

  font-weight: Semi Bold;
  font-size: 36px;
	
}
.v35_177 {
  width: 552px;
  height: 44px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
   position: relative; /* Utilizza il posizionamento relativo */
  margin: 0 auto;
  margin-top:20px;
  margin-bottom:20px;
  top: 50%; /* Sposta il div verso il basso del 50% rispetto al suo contenitore */
}
.v35_174 {
  width: 552px;
  height: 44px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(0,0,0,1);
  overflow: hidden;
}
.v35_175 {
  width: 170px;
  height: 44px;
  background: rgba(161,201,230,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 382px;
  overflow: hidden;
}
.v35_176 {
  width: 67px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 7px;
  left: 51px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
